.horizontalScrollContainer {
	display: flex;
	width: 100%;
	overflow-x: auto;
	height: 100svh;
}

.horizontalScroll {
	display: flex;
	align-self: center;
	justify-content: center;
	align-items: center;
	padding: 0 30%;
	gap: 40px;
}

.progressBar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 5px;
	background: var(--yellow);
	transform-origin: 0%;
}

.title {
	font-size: 85px;
	position: absolute;
	top: 50px;
	left: 50px;
	color: var(--backgroundYellow);
	letter-spacing: 27px;
}
@keyframes pulse {
	0% {
	  transform: scale(1);
	}
	50% {
	  transform: scale(1.1);
	}
	100% {
	  transform: scale(1);
	}
  }
.signature {
	position: absolute;
	bottom: 60px;
	right: 60px;
	width: 300px;
	height: auto;
	object-fit: contain;
	cursor: pointer;
}
.signature:hover {
	animation: pulse 3s infinite;
}

.scrollButton {
	position: absolute;
	left: 5vw;
	top: 50vh;
	z-index: 100;
}
.scrollRightButton {
	position: absolute;
	right: 5vw;
	top: 50vh;
	z-index: 100;
	rotate: 180deg;
}
.scrollButton:hover {
	transition: 0.3s transform linear;
    transform: scale(0.9);
}
.scrollRightButton:hover {
	transition: 0.3s transform linear;
    transform: scale(0.9);
}

@media(max-width: 900px) {
	.title {
		font-size: 45px;
		right: 20px;
		letter-spacing: 20px;
	}
	.signature {
		width: 200px;
		bottom: 40px;
		right: 40px;
	}
}
